doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="author" content="Matt McKellar-Spence")
		meta(name="description" content="GitHub page of Matt McKellar-Spence")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Forged by MattMS
		link(rel="stylesheet", href="http://css.mattms.info/light.css")
	body
		.container
			block content
		footer.container
			hr
			ul
				li: a(href="https://github.com/MattMS/about.mattms.info") View on GitHub
