extends _base

block content
	h1 Matt McKellar-Spence

	p I do the&nbsp;
		a(href="https://mattms.github.com/") GitHub
		|  thing.

	p I enjoy some&nbsp;
		a(href="https://twitter.com/MattMS") Twitter
		|  banter on occasion.

	p Sometimes I happen across the&nbsp;
		a(href="http://web.dev42.co/") Web Dev 42
		|  meet-ups.


	h2 Australian Antarctic Data Centre

	p You may see some of my contributions on the&nbsp;
		a(href="http://www1.data.antarctica.gov.au/") Australian Antarctic Data Centre
		|  site.


	h2 Totes Profesh

	p I try to be&nbsp;
		a(href="http://totesprofe.sh/") Totes Profesh
		|  with much of my work.


	h3: a(href="http://altrove.totesprofe.sh/") Altrove

	p For&nbsp;
		a(href="http://www.govhack.org/") GovHack 2014
		| .


	h3: a(href="http://trapezium.io/") Trapezium

	p For&nbsp;
		a(href="http://nodeknockout.com/") Node.js Knockout 2013
		| .
